## ans 1->
Data encoding is the process of converting data from one representation to another, usually to facilitate its
  use in analysis or machine learning.The purpose of data encoding is to represent data in a way that can be easily processed
    and analyzed by algorithms.
    
Data encoding useful to covert  categorical data into  numerical data which is useful in data science to analyse data.
Data encoding help in make structured  data from unstructured data.

# ans 2->
nominal encdoing is also known as one hot encoding.it is used to convert categorical data into numerical data.
In nominal encoding, each unique category or value in a categorical feature is represented as a binary vector.

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
df=sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [2]:
encoded=OneHotEncoder().fit_transform(df[['species']])
encoded.toarray()

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

## ans 3->
(1)Nominal encoding is preffered over one hot encoding when there is relationship between data.
 (2) Nominal encoding is also preffered when there is little features in dataset and one hot encoding is used for 
large different feature in dataset.

In [26]:
import pandas as pd
df=pd.DataFrame({'Remark':['good','poor','average','excellent']})
df

      Remark
0       good
1       poor
2    average
3  excellent

# in this above dataset nominal encoding is preferred because it show ranking or order relationship.

In [29]:
df1=pd.DataFrame({'Material':['pen','books','cover','chart','colourpen','laptop']})
df1

    Material
0        pen
1      books
2      cover
3      chart
4  colourpen
5     laptop

# in this above dataset there is no relation betwwn the objects so they encoding in one hot encoder way.

# ans 4->
we use one hot encoding technique to transfrom this data. we made this choice because
the gien categorical data is unique so that there is no relation in that and for
to represnt unique data onw hor encoder is best technique.

# ans 5->
Number of new columns = (n1 - 1) + (n2 - 1)
Column 1 has 7 unique categories (n1 = 7)
Column 2 has 4 unique categories (n2 = 4)
Number of new columns = (7 - 1) + (4 - 1) = 6 + 3 = 9
using nominal encoding total 9 columns will e created.

In [ ]:
# ans ->6
here, we use one hot encoding to convert the categorical data into a format
suitable for ml algorithm because different type of animals have different
different species,habitata and diet.so,one

In [ ]:
# ans ->7
there is a dataset with 5 features customer gender,age,contract type,monthly charges and tenure.
we have tp convert cateorical feature ino numerical feature so,
(1)in gender we use label encoding technique because it is in 0,1 form for male, female.
(2)age is already a numerical feature so we no need to conver it.
(3)For contract type we use one hot encoding because it has more unique features.
(4)monthly charge and tenure are already numeric feature so we no need to convert it.